<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace :代表这个文件的命名空间，根据这个名称定位到这个文件 -->
  <mapper namespace="com.zhiyou.mapper.CourseShowMapper" >
  		<!-- subject的结果集 -->
  		
	  <resultMap type="subject" id="subjectMap">
	  	<id column="subject_id" property="subject_id"/>
	  	<result column="subject_name" property="subject_name"/>
	  </resultMap>
	  <!-- 讲师的结果集 -->
	   <resultMap type="speaker" id="speakerMap">
	  	<id column="id" property="id"/>
	  	<result column="speaker_name" property="speaker_name"/>
	  	<result column="speaker_desc" property="speaker_desc"/>
	  	<result column="speaker_job" property="speaker_job"/>
	  	<result column="pic_url" property="pic_url"/>
	  </resultMap>
	  <!-- 课程的结果集 -->
	  <resultMap type="course" id="courseMap">
	  	<id column="id" property="id"/>
	  	<result column="course_title" property="course_title"/>
	  	<result column="course_desc" property="course_desc"/>
	  	<result column="subject_id" property="subject_id"/>
	  </resultMap>
	  <!-- video的结果集 -->
	  <resultMap type="video" id="videoMap">
	  	<id column="video_id" property="video_id"/>
	  	<result column="title" property="title"/>
	  	<result column="detail" property="detail"/>
	  	<result column="time" property="time"/>
	  	<result column="speaker_id" property="speaker_id"/>
	  	<result column="course_id" property="course_id"/>
	  	<result column="video_url" property="video_url"/>
	  	<result column="image_url" property="image_url"/>
	  	<result column="play_num" property="play_num"/>
	  </resultMap>
	  <!-- 查询subject -->
  	<select id="selectSubjectById" resultMap="subjectMap">
  		select * from subject where subject_id=#{subject_id};
  	</select>
  	<!-- 查询讲师 -->
  	<select id="selectSpeakerById" resultMap="speakerMap">
  		select * from speaker where id=#{id};
  	</select>
  	<!-- 根据subject_id查询课程 -->
  	<select id="selectCourseById" resultMap="courseMap">
  		select * from course where subject_id=#{subject_id};
  	</select>
  	<!-- 查询课程内容 -->
  	<select id="selectVideoById" resultMap="videoMap">
  		select * from video where course_id=#{course_id};
  	</select>
  	<!-- 根据course_id查询课程 -->
  	<select id="selectByCourse" resultMap="courseMap">
  		select * from course where id=#{id};
  	</select>
  </mapper>