<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 代表这个文件的命名空间,根据这个名称可以定位到这个文件 -->
<mapper namespace="com.zhiyou.mapper.VideoMapper">


	 <resultMap type="video" id="videoMap">
		<id column="video_id" property="video_id"/>
		<result column="title" property="title"/>
		<result column="detail" property="detail"/>
		<result column="time" property="time"/>
		<result column="speaker_id" property="speaker_id"/>
		<result column="course_id" property="course_id"/>
		<result column="video_url" property="video_url"/>
		<result column="image_url" property="image_url"/>
		<result column="play_num" property="play_num"/>
	 </resultMap> 
	 
	 <select id="selectAllLike" resultMap="videoMap">
	select * from video where ${field} like '%${name}%'
		<if test="video_id!=null">
			video_id like concat('%',#{video_id},'%')
		</if>
		<if test="video_id!=null">
			#{} like concat('%',#{title},'%')
		</if>
		<if test="video_id!=null">
			detail like concat('%',#{detail},'%')
		</if>
		
		<if test="video_id!=null">
			time like concat('%',#{time},'%')
		</if>
		<if test="video_id!=null">
			speaker_id like concat('%',#{speaker_id},'%')
		</if>
		<if test="video_id!=null">
			course_id like concat('%',#{course_id},'%')
		</if>
		<if test="video_id!=null">
			video_url like concat('%',#{video_url},'%')
		</if>
		<if test="video_id!=null">
			image_url like concat('%',#{image_url},'%')
		</if>
		<if test="video_id!=null">
			play_num like concat('%',#{play_num},'%')
		</if>
		
	</select>
	<select id="selectCount" resultType="Integer">
		select count(*) from video 
	</select>

	<select id="selectAllLimit" resultMap="videoMap">
		select * from video limit ${page},${num}
	</select>
	
	<delete id="delete">
		delete from video where video_id=#{video_id}
	</delete>
	
	<select id="selectByID" resultMap="videoMap">
		select * from video where video_id=#{video_id}
	</select>

	<update id="update" parameterType="video">		 
		update video  
			<set>		
					<if test="title!=null">
						title=#{title},
					</if>
					<if test="detail!=null">
						detail=#{detail},
					</if>
					<if test="speaker_id!=0">
						speaker_id=#{speaker_id},
					</if>
					<if test="time!=null">
						time=#{time},
					</if>
					<if test="play_num!=null">
						play_num=#{play_num}
					</if>	
				</set>	
			where video_id=#{video_id}	
	</update> 
	
	<insert id="add" parameterType="video">
		insert into video(title,detail,speaker_id,time,play_num) values(#{title},#{detail},#{speaker_id},#{time},#{play_num});
	</insert>
	
</mapper>